.Stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  height: 40px;
}

.Stars svg {
  height: 22px;
  width: 22px;
  transition: transform var(--transition-fast);
}

.Stars svg:hover {
  transform: scale(1.2);
}
